<template name="editQuestion">
	{{#with question}}
	<h3>Edit a Question:</h3>
		<form class="form-horizontal" role="form">

			<div class="form-group">
    			<label for="oldQuestion" class="col-sm-3 control-label">Old Question:</label>
    			<div class="col-sm-9">
      				<input type="email" class="form-control" id="oldQuestion" value="{{ question }}" disabled>
    			</div>
  			</div>

  			<div class="form-group">
    			<label for="newQuestion" class="col-sm-3 control-label">New Question:</label>
    			<div class="col-sm-9">
      				<input type="email" class="form-control" id="newQuestion">
    			</div>
  			</div>

		</form>
	{{/with}}
</template>